<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Битва с Боссом</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="app">
    <div class="app__view" style="background: no-repeat center/cover url('/img/locations/forest.jpg')">
        <div class="app__left-img">
            <img src="/img/heroes/elf.png" alt="">
        </div>
        <div class="app__right-img">
            <img th:src="@{'/img/boss/' + ${boss.name} + '.png'}"/>
        </div>
    </div>
    <div class="app__content">
        <div class="stats-sidebar">
            <ul th:object="${main_hero}">
                <li><p>Имя: <span th:text="*{name}"></span></p></li>
                <li><p>Здоровье: <span th:text="*{health}"></span></p></li>
                <li><p>Урон: <span th:text="*{weapon.damage}"></span></p></li>
                <li><p>Класс: <span th:text="*{personClass}"></span></p></li>
                <li><p>Раса: <span th:text="*{rasa}"></span></p></li>
                <li><p>Деньги: <span th:text="*{money}"></span></p></li>
                <li><p>Уровень: <span th:text="*{level}"></span></p></li>
                <li><p>Броня: <span th:text="*{armor.defense}"></span>% поглощение урона</p></li>
            </ul>
        </div>
        <div class="main-content">
            <h1>Битва с боссом</h1>
            <ul th:object="${boss}">
                <li><p>Босс: <span th:text="*{name}"></span></p></li>
                <li><p>Здоровье: <span th:text="*{health}"></span></p></li>
                <li><p>Урон: <span th:text="*{damage}"></span></p></li>
            </ul>
            <form th:action="@{/elf_game/attack_boss}" method="post">
                <button type="submit">Атаковать Босса</button>
            </form>
            <form th:action="@{/elf_game/use_potion_in_boss_battle}" method="post">
                <button type="submit">Использовать зелье (50 монет) 50+</button>
            </form>
            <form th:action="@{/elf_game/elf}" method="get">
                <button type="submit">Сбежать от Босса</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
